body{
  background-color: pink;
}
.container{
  text-align: center;
  
}
h1{
text-align: center;
}
.shop-container{
  border: black dashed;
background-color: #fff;
width: 30vw;
height: auto;
margin: 2rem auto;
text-align: center;

}

.shop-container li{
  list-style-type: none;
}

.btn{
margin-left: 140px;
/* Butonun arkaplanı ve kenarlığını siliyoruz */
background: transparent;
border-color: transparent;
/* Butonun arkaplanı ve kenarlığını siliyoruz */

}